*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: "Dela Gothic One", cursive;

}

body{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)),  url('../img/img3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  
}

.container{
 margin-top: 18px;
 font-size: 28px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.container img{
  position: absolute;
  left: 70px;
  width: 5em;
  height: auto;
  
}

ul{
    display: flex;
    justify-content: center;
    margin: 12px 20px;
    padding: 3px 28px;
}
div ul li{
  padding: 15px 30px;
  list-style: none;
}

ul li a{
    font-size: .7em;
    text-decoration: none;
    color: rgb(255, 208, 0);
}
.container .btn{
    position: absolute;
    right: 5em;
    color: rgb(255, 8, 0);
    margin: 23px 10px;
    padding: 8px 24px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(252, 74, 74);
}
#btn2{
    font-size: 24px;
    color: rgb(255, 8, 0);
    margin: 18px 8em;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(252, 74, 74);
}
.mid{
    margin: 0px 150px;
    padding: 3px 4px;
    display: flex;
     flex-direction: column;
    align-items: center;
}

.mid h1{
 
    font-weight: bolder;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 50px;
    margin-left: 45px;
    padding: 10px 30% ;
    font-size: 50px;
    color: rgb(255, 196, 0);
}
main{

    display: flex;
    text-align: center;
}
.scrollbar{
    position: absolute;
    bottom: 30px;
    right :  40px;
 
}
.scrollbar img{
    width: 9em;
    height: auto;
   
} 
